<span
  class="cursor-pointer"
  (click)="nbSimpleTableService.orderBy(tableParams, orderField)"
  *ngIf="orderField; else noOrder">
  {{ label }}
  <i [class]="nbSimpleTableService.getOrderIcon(tableParams)" *ngIf="tableParams.orderBy === orderField"></i>
</span>
<ng-template #noOrder>
  {{ label }}
</ng-template>

<ng-container [ngSwitch]="filterType" *ngIf="filter">
  <app-auto-search-input
    *ngSwitchCase="'text'"
    (searchChange)="nbSimpleTableService.filter(tableParams, $event, filter ? filterField : null)"
    [search]="tableParams.filter[filterField]"
    [small]="true" />

  <app-nb-simple-table-select
    *ngSwitchCase="'select'"
    [value]="tableParams.filter[filterField]"
    (valueChange)="nbSimpleTableService.filter(tableParams, $event, filter ? filterField : null)"
    [options]="selectOptions" />
</ng-container>
