<div class="mx-3 pt-3 pb-5" *ngIf="user">
  <h5>
    Bienvenido de nuevo <strong>{{ user?.name }}</strong>
  </h5>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body p-3">
          <app-home-steps-chart [weeklySteps]="weeklySteps" />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body p-3">
          <app-home-calories-chart [weeklyCalories]="weeklyCalories" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!user">
    <div id="main-content" class="flex-grow-1 position-relative">
      <div style="z-index: 99999">
        <img [src]="loaderImg" class="route-loading-icon" alt="Cargando..." />
      </div>
    </div>
  </div>
</div>
