:host {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 10px 10px 10px;
  border-radius: 3px 3px 3px 3px;
  pointer-events: all;
  cursor: pointer;
}

.btn-action {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
